<div class="container-questions">
  <h4>PREGUNTAS FRECUENTES</h4>
  <div class="cq-description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, explicabo magnam cum magni dolores nemo fugit quas, sunt, impedit a minus voluptas exercitationem vero quis tempora odio expedita in nihil.
  </div>

  <br>
  <img src="assets/icons/image14.png" class="cq-image" alt="..." />

  <div class="list-question">
    <p class="question">1. ¿Cobramos por el servicio que brindamos?</p>

    <p>
      No, Capitalizarme.com brinda un servicio sin costo para ti. Nuestra
      comisión es pagada por la inmobiliaria, debido al volumen de departamentos
      que colocamos mensualmente.
    </p>

    <p class="question">
      2. ¿Por qué comprar con Capitalizarme.com y no directamente con la
      inmobiliaria?
    </p>

    <p>
      Capitalizarme.com constituye un canal exclusivo para quienes quieren
      comprar departamentos para inversión, por lo que la información y calidad
      de asesoría está muy orientada en la rentabilidad de la decisión.
    </p>

    <p class="question">
      3. ¿Financian los proyectos inmobiliarios que ofrecen?
    </p>

    <p>
      No, Capitalizarme.com trabaja en conjunto con las inmobiliarias solo para
      la venta de los proyectos.
    </p>

    <p class="question">4. ¿Garantizan el alquiler del departamento?</p>
    <p>
      Trabajamos con empresas dedicadas a la colocación de departamentos en el
      mercado de alquileres, tanto de alquileres de plazo fijo como alquileres
      temporales (Airbnb, Expedia, Booking, etc.).
    </p>
  </div>
</div>

<div class="separator3">
  <div class="image-separator2"></div>
</div>
