<footer class="footer">
    <div class="container-footer">
      <div class="item-img">
      <img src="assets/icons/image13.png" alt="" />
      </div>
        <div class="item">
            <p class="subtitle">QUIENES SOMOS</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat amet, mattis quis semper pulvinar libero. </p>
        </div>

        <div class="item">
            <p class="subtitle">CATEGORÍAS</p>
            <p><a href="">Estado del Proyecto</a></p>
            <p><a href="">Distrito</a></p>
           <p><a href="">Entrega</a></p>
        </div>

        <div class="item">
            <p class="subtitle">INFORMACIÓN</p>
            <p><a href="">Quiénes somos</a></p>
            <p><a href="">Contáctanos</a></p>
            <p><a href="">Política de Privacidad</a></p>
            <p><a href="">Pedidos y devoluciones</a></p>
            <p><a href="">Términos y condiciones</a></p>
        </div>

        <div class="item">
            <p class="subtitle">SERVICIOS</p>
            <p><a href="">Mi cuenta</a></p>
            <p><a href="">Necesito ayuda</a></p>
        </div>
    </div>

    <div class="main-footer">
        <span>© 2021 Prospera | Todos los derechos reservados.</span>
    </div>
</footer>
