.footer {
  background-color: #4ca188;
  bottom: 0;
  width: 100%;

  .container-footer {
    display: grid;
    width: 100%;
    margin: auto;
    justify-content: center;
    column-gap: 40px;
    grid-template-columns: repeat(5, min-content);
    padding: 4%;


    @media (max-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
    }

    .item-img img {
      width: 15em;
    }
    .item {
      color: white;
      width: 200px;

      a {
        text-decoration: none;
        color: white;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.3s;
      }

      a:hover,
      a:focus {
        background-size: 100% 2px;
      }
    }

    .subtitle {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  .main-footer {
    background-color: #4ca188;
    color: white;
    text-align: center;
    font-weight: 500;
  }
}
