<section class="container-main">
  <img src="assets/img/portada.png" alt="" />
  <div class="image-separator"></div>
</section>

<section class="container-presentation">
  <h2 class="">¡Invierte en 4 simples pasos!</h2>
  <p class="cp-subtitle">
    Te guiamos durante todo el proceso de compra, entregándote un servicio de
    excelencia sin costo para ti, <br />
    ahorrándote tiempo, dinero y esfuerzo.
  </p>

  <div class="container-steps">
    <div class="step">
      <img src="assets/icons/image4.png" alt="" />
      <p class="step-title">Regístrate</p>
      <p>
        Deja tus datos y un asesor<br />
        se comunicara contigo
      </p>
    </div>
    <div class="step">
      <img src="assets/icons/image5.png" alt="" />
      <p class="step-title">Elige</p>
      <p>
        El inmueble mas atractivo de nuestro portafolio de proyectos que se
        acomode con tus necesidades
      </p>
    </div>
    <div class="step">
      <img src="assets/icons/image6.png" alt="" style="max-width: 150px" />
      <p class="step-title">Firma</p>
      <p>
        El contrato de compra venta. <br />Te brindamos asesoría legal en todo
        el proceso de la compra
      </p>
    </div>
    <div class="step">
      <img src="assets/icons/image7.png" alt="" style="max-width: 150px" />
      <p class="step-title">Disfruta</p>
      <p>De tu inversión</p>
    </div>
  </div>
</section>

<div class="separator1"></div>

<br />
<br />
<section class="container-proyectos">
  <p class="cp-title">PROYECTOS DESTACADOS</p>

  <div class="proyectos">
    <div class="item">
      <div class="card">
        <img src="assets/img/image1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Código : CPTZBR001</h5>
          <h6 class="card-subtitle mb-2 text-muted">Desde: S/355.300</h6>
          <p class="card-text">
            <i class="bi bi-geo-alt-fill" role="img" aria-label="Lugar"
              >Barranco</i
            >
          </p>
          <a href="#" class="btn-prospera2">> VER DETALLES DEL PROYECTO</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card">
        <img src="assets/img/image1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Código : CPTZBR001</h5>
          <h6 class="card-subtitle mb-2 text-muted">Desde: S/355.300</h6>
          <p class="card-text">
            <i class="bi bi-geo-alt-fill" role="img" aria-label="Lugar"
              >Barranco</i
            >
          </p>
          <a href="#" class="btn-prospera2">> VER DETALLES DEL PROYECTO</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="card">
        <img src="assets/img/image1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Código : CPTZBR001</h5>
          <h6 class="card-subtitle mb-2 text-muted">Desde: S/355.300</h6>
          <p class="card-text">
            <i class="bi bi-geo-alt-fill" role="img" aria-label="Lugar"
              >Barranco</i
            >
          </p>
          <a href="#" class="btn-prospera2">> VER DETALLES DEL PROYECTO</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cp-more">
    <button [routerLink]="['buscar']" class="btn btn-prospera3">
      Mostrar más Proyectos
    </button>
  </div>
</section>
<br />
<br />
<div class="container-separator2">
  <div class="separator2"></div>
  <img src="assets/icons/image8.png" class="img-separator2" alt="..." />
</div>
<div class="section-clients">
  <div class="sc-title">
    <h2 class="">Algunos de nuestros clientes</h2>
  </div>
  <div class="sc-clients">
  <img src="assets/icons/image9.png" class="" alt="..." />
  <img src="assets/icons/image10.png" class="" alt="..." />
  <img src="assets/icons/image11.png" class="" alt="..." />
  <img src="assets/icons/image12.png" class="" alt="..." style="max-width: 110px;"/>

  </div>
</div>

<div class="separator3">
  <div class="image-separator2"></div>
</div>


