<section class="container-main">
  <img src="assets/img/portada.png" alt="" />
</section>

<section class="container-presentation">
  <h2>¡Invierte en 4 simples pasos!</h2>
  <p>
    Te guiamos durante todo el proceso de compra, entregándote un servicio de
    excelencia sin costo para ti, <br />
    ahorrándote tiempo, dinero y esfuerzo.
  </p>
</section>

<div class="row container-steps col-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-12 col-sm-6 col-md-4 col-lg-2 step">
    <img src="assets/icons/image4.svg" alt="" />
    <p class="step-title">PASO 1</p>
    <p>
      Aute laborum aliqua velit tempor labore dolore quis. Anim pariatur officia
      duis eu consequat ad ut pariatur tempor cillum minim ea.
    </p>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-2 step">
    <img src="assets/icons/image5.svg" alt="" />
    <p class="step-title">PASO 2</p>
    <p>
      Aute laborum aliqua velit tsempor labore dolore quis. Anim pariatur
      officia duis eu consequat ad ut pariatur tempor cillum minim ea.
    </p>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-2 step">
    <img src="assets/icons/image6.svg" alt="" />
    <p class="step-title">PASO 3</p>
    <p>
      Aute laborum aliqua velit tempor labore dolore quis. Anim pariatur officia
      duis eu consequat ad ut pariatur tempor cillum minim ea.
    </p>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-2 step">
    <img src="assets/icons/image7.svg" alt="" />
    <p class="step-title">PASO 4</p>
    <p>
      Aute laborum aliqua velit tempor labore dolore quis. Anim pariatur officia
      duis eu consequat ad ut pariatur tempor cillum minim ea.
    </p>
  </div>
</div>
<br>
<br>
<section class="container-proyectos">
  <h3>PROYECTOS DESTACADOS</h3>

  <div class="proyectos">
    <div class="item">
        <div class="card" >
            <img src="assets/img/image1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Código : CPTZBR001</h5>
              <h6 class="card-subtitle mb-2 text-muted">Desde: S/355.300</h6>
              <p class="card-text"><i class="bi bi-geo-alt-fill" role="img" aria-label="Lugar">Barranco</i>
              </p>
              <a [routerLink]="'descripcion'" class="btn-prospera2">> VER DETALLES DEL PROYECTO</a>
            </div>
          </div>
    </div>

    <div class="item">
        <div class="card" >
            <img src="assets/img/image1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Código : CPTZBR001</h5>
              <h6 class="card-subtitle mb-2 text-muted">Desde: S/355.300</h6>
              <p class="card-text"><i class="bi bi-geo-alt-fill" role="img" aria-label="Lugar">Barranco</i>
              </p>
              <a [routerLink]="'invertirpropiedades'"class="btn-prospera2">> VER DETALLES DEL PROYECTO</a>
            </div>
          </div>
    </div>
   
    <div class="item">
        <div class="card" >
            <img src="assets/img/image1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Código : CPTZBR001</h5>
              <h6 class="card-subtitle mb-2 text-muted">Desde: S/355.300</h6>
              <p class="card-text"><i class="bi bi-geo-alt-fill" role="img" aria-label="Lugar">Barranco</i>
              </p>
              <a href='#' class="btn-prospera2">> VER DETALLES DEL PROYECTO</a>
            </div>
          </div>
    </div>

    <div class="item">
        <div class="card" >
            <img src="assets/img/image1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Código : CPTZBR001</h5>
              <h6 class="card-subtitle mb-2 text-muted">Desde: S/355.300</h6>
              <p class="card-text"><i class="bi bi-geo-alt-fill" role="img" aria-label="Lugar">Barranco</i>
              </p>
              <a href="#" class="btn-prospera2">> VER DETALLES DEL PROYECTO</a>
            </div>
          </div>
    </div>

    <div class="item">
        <div class="card" >
            <img src="assets/img/image1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Código : CPTZBR001</h5>
              <h6 class="card-subtitle mb-2 text-muted">Desde: S/355.300</h6>
              <p class="card-text"><i class="bi bi-geo-alt-fill" role="img" aria-label="Lugar">Barranco</i>
              </p>
              <a href="#" class="btn-prospera2">> VER DETALLES DEL PROYECTO</a>
            </div>
          </div>
    </div>

    <div class="item">
        <div class="card" >
            <img src="assets/img/image1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Código : CPTZBR001</h5>
              <h6 class="card-subtitle mb-2 text-muted">Desde: S/355.300</h6>
              <p class="card-text"><i class="bi bi-geo-alt-fill" role="img" aria-label="Lugar">Barranco</i>
              </p>
              <a href="#" class="btn-prospera2">> VER DETALLES DEL PROYECTO</a>
            </div>
          </div>
    </div>
  </div>
</section>