<section class="container-message">
    <h4>Prospera.com Perú</h4>
    <p>Invierte en Propiedades</p>
  </section>


  
<div class="container-about">
    <h4>¿Porque invertir en propiedades?</h4>
    <p>
      Exercitation sit id nulla aute minim aliquip deserunt do cillum ea. Ullamco cupidatat veniam occaecat voluptate do elit aliquip cillum duis consectetur. Do deserunt cupidatat et esse in ut. Sunt proident elit nostrud sint nostrud do occaecat laboris nisi ullamco proident consectetur adipisicing voluptate. Ullamco sunt exercitation velit sunt aliquip eiusmod quis cillum labore reprehenderit irure exercitation. 
    </p>
  
    
  </div>

  <div class="options">

<div class="options__card">

    <img src="assets/icons/image 11.svg" alt="" />
    <p>
        Exercitation sit id nulla aute minim aliquip deserunt do cillum ea. Ullamco cupidatat veniam occaecat voluptate do elit aliquip cillum duis consectetur.  </p>
    
</div>

<div class="options__card">

    <img src="assets/icons/image 12.svg" alt="" />
    <p>
        Exercitation sit id nulla aute minim aliquip deserunt do cillum ea. Ullamco cupidatat veniam occaecat voluptate do elit aliquip cillum duis consectetur.  </p>
    
</div>


<div class="options__card">

    <img src="assets/icons/image 13.svg" alt="" />
    <p>
        Exercitation sit id nulla aute minim aliquip deserunt do cillum ea. Ullamco cupidatat veniam occaecat voluptate do elit aliquip cillum duis consectetur.  </p>
    
</div>


<div class="options__card">

    <img src="assets/icons/image 14.svg" alt="" />
    <p>
        Exercitation sit id nulla aute minim aliquip deserunt do cillum ea. Ullamco cupidatat veniam occaecat voluptate do elit aliquip cillum duis consectetur.  </p>
    
</div>




  </div>