<section class="container-invest">
  <section class="container-message">
    <h3>¿Por qué invertir con Prospera.com?</h3>
    <p>
      Somos un grupo de asesores con amplia experiencia en el sector
      inmobiliario, te guiaremos en todo el proceso de búsqueda de la mejor
      oportunidad que se adapte a tus
    </p>
  </section>

  <section class="container-card">
    <div class="item item-reverse">
      <div class="descripcion1">
        Amplia cartera de Proyectos previamente filtrados.
        <div class="underline"></div>
      </div>
      <div class="image">
        <img src="assets/icons/image18.png" alt="" />
      </div>
    </div>
  </section>

  <section class="container-card">
    <div class="item item-noReverse">
      <div class="image">
        <img src="assets/icons/image19.png" alt="" />
      </div>

      <div class="descripcion2">
        Precios especiales para nuestros clientes VIP
        <div class="underline"></div>
      </div>
    </div>
  </section>

  <section class="container-card">
    <div class="item item-reverse">
      <div class="descripcion1">
        Estudio de mercado para tener los mejores oportunidades
        <div class="underline"></div>
      </div>

      <div class="image">
        <img src="assets/icons/image20.png" alt="" />
      </div>
    </div>
  </section>

  <section class="container-card">
    <div class="item item-noReverse">
      <div class="image">
        <img src="assets/icons/image21.png" alt="" />
      </div>
      <div class="descripcion2">
        Analisis financiero de cada inmueble
        <div class="underline"></div>
      </div>
    </div>
  </section>
</section>
