<section class="container-message">
  <h4>Prospera.com Perú</h4>
  <p>Invierte en Propiedades</p>
  <br />
  <h3>¿Por qué invertir con Prospera.com?</h3>
</section>

<section class="container-card">
  <div class="item">
    <div class="descripcion1">
      Exercitation sit id nulla aute minim aliquip deserunt do cillum ea.
      Ullamco cupidatat veniam occaecat voluptate do elit aliquip cillum duis
      consectetur. Do deserunt cupidatat et esse in ut. Sunt proident elit
      nostrud sint nostrud do occaecat laboris nisi ullamco proident consectetur
      adipisicing voluptate. Ullamco sunt exercitation velit sunt aliquip
      eiusmod quis cillum labore reprehenderit irure exercitation.
    </div>
    <div class="image">
      <img src="assets/img/fondo2.png" alt="" />
    </div>
  </div>
</section>

<section class="container-card">
  <div class="item">
    <div class="image">
      <img src="assets/img/fondo2.png" alt="" />
    </div>

    <div class="descripcion2">
      Exercitation sit id nulla aute minim aliquip deserunt do cillum ea.
      Ullamco cupidatat veniam occaecat voluptate do elit aliquip cillum duis
      consectetur. Do deserunt cupidatat et esse in ut. Sunt proident elit
      nostrud sint nostrud do occaecat laboris nisi ullamco proident consectetur
      adipisicing voluptate. Ullamco sunt exercitation velit sunt aliquip
      eiusmod quis cillum labore reprehenderit irure exercitation.
    </div>
  </div>
</section>

<section class="container-card">
  <div class="item">
    <div class="descripcion1">
      Exercitation sit id nulla aute minim aliquip deserunt do cillum ea.
      Ullamco cupidatat veniam occaecat voluptate do elit aliquip cillum duis
      consectetur. Do deserunt cupidatat et esse in ut. Sunt proident elit
      nostrud sint nostrud do occaecat laboris nisi ullamco proident consectetur
      adipisicing voluptate. Ullamco sunt exercitation velit sunt aliquip
      eiusmod quis cillum labore reprehenderit irure exercitation.
    </div>
    <div class="image">
      <img src="assets/img/fondo2.png" alt="" />
    </div>
  </div>
</section>

<section class="container-card">
  <div class="item">
    <div class="image">
      <img src="assets/img/fondo2.png" alt="" />
    </div>
    <div class="descripcion2">
      Exercitation sit id nulla aute minim aliquip deserunt do cillum ea.
      Ullamco cupidatat veniam occaecat voluptate do elit aliquip cillum duis
      consectetur. Do deserunt cupidatat et esse in ut. Sunt proident elit
      nostrud sint nostrud do occaecat laboris nisi ullamco proident consectetur
      adipisicing voluptate. Ullamco sunt exercitation velit sunt aliquip
      eiusmod quis cillum labore reprehenderit irure exercitation.
    </div>
  </div>
</section>
