<app-loading class="loading-p" *ngIf="false"></app-loading>

<section class="container-simulation">
  <h4>DESCUBRE CUÁL PODRÍA SER LA CUOTA DE TU NUEVO HOGAR</h4>

  <p class="subtitulo">
    Ingresa la información y simula tus cuotas mensuales. <br />
    Las veces que quieras y sin compromisos ;)
  </p>

  <div class="information">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
        />
      </symbol>
      <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
        />
      </symbol>
      <symbol
        id="exclamation-triangle-fill"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </symbol>
    </svg>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Info:"
      >
        <use xlink:href="#info-fill" />
      </svg>
      <div>
        El resultado de esta simulación es referencial. No asegura la
        calificación a un credito hipotecario
      </div>
    </div>
  </div>

<section class="simulation-form">
  <div class="form">
    <br>
    <p>Valor total del inmueble</p>
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
    <input
    type="text"
    class="form-control"
    placeholder="Ej. 100,00"
    aria-label="Valor"
    aria-describedby="basic-addon1"
  />
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        checked
      />
      <label class="btn btn-outline-primary" for="btnradio1">S/</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="btnradio2">US$</label>
    </div>
  </div>

  <div class="form">
    <p>Cuota inicial</p>
    <span>Mayor o igual al 10% del valor</span>
    <input
      type="text"
      class="form-control"
      placeholder="Ej. 10,000"
      aria-label="Cuota inicial"
      aria-describedby="basic-addon1"
    />
  </div>

  <div class="form">
    <br>
    <p>El monto restante a financias es</p>
    <input
      type="text"
      class="form-control"
      placeholder="Ej. 90,000"
      aria-label="Mondo restante"
      aria-describedby="basic-addon1"
    />
  </div>

  <div class="form">
    <p>Quiero que mis cuotas sean</p>
    <span>
      Simples (12 cuotas al año) / dobles (14 cuotas al año,adicional en julio y
      diciembre)
    </span>
    <select class="form-select" aria-label="Default select example">
      <option selected>Seleccionar</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="form">
    <br>
    <p>Deseo financiarlo en</p>
    <div class="input-group">
      <button class="btn btn-outline-primary" type="button">-</button>
      <input
        type="text"
        class="form-control"
        placeholder="20 años"
        aria-label="Recipient's username with two button addons"
      />
      <button class="btn btn-outline-primary" type="button">+</button>
    </div>
  </div>

  <div class="form">
    <br>
    <p>Tasa referencial</p>
    <div class="input-group">
      <button class="btn btn-outline-primary" type="button">-</button>
      <input
        type="text"
        class="form-control"
        placeholder="%"
        aria-label="Recipient's username with two button addons"
      />
      <button class="btn btn-outline-primary" type="button">+</button>
    </div>
  </div>
</section>
<br>
<button type="button" class="btn btn-outline-prospera">Simular Cuota</button>
</section>

