.loading-p {
  position: fixed;
  background-color: rgba(155, 155, 155, 0.384);
  z-index: 9999;
}

.container-simulation {
  margin: auto;
  display: grid;
  justify-items: center;
  row-gap: 20px;
  background-color: white;
  padding: 5%;
  h4 {
    font-weight: 800;
  color: var(--main-fontColor);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: var(--second-fontColor);
    line-height: 30pt;
    width: fit-content;
    display: block;
    justify-self: center;
    text-align: center;
  }

  .subtitulo {
    font-size: 1.2rem;
    text-align: center;
  }

  .information {
    width: 100%;
    text-align: start;
  }
}

.simulation-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  margin: auto;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }


  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  .form {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 10px;
    @media (max-width: 600px) {
       display: block;
      }

    p {
      font-weight: bold;
      font-size: 1.1rem;
      line-height: 30px;
      letter-spacing: 0.04em;
      color: #878c8f;
      margin: 0px;
    }


    span {
        font-size: 14px;
    }
  }

  .btn-outline-primary  {
    color: #5F7F9F;
    background-color: #ffffff;
    border-color: #5F7F9F;

    }

  .btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active, .btn-outline-primary:hover {
    background: #5F7F9F;
    border:#5F7F9F;
    color: #fff;

  }
}

.btn-outline-prospera {
    color: #5F7F9F;
    background-color: #ffffff;
    border-color: #5F7F9F;
    font-weight: 800;
    width: 100%;
    text-align: center;
    width: 200px;
    height: 50px;
  }

  .btn-outline-prospera:hover {
    color: #fff;
    background-color: #5F7F9F;
    border-color: #5F7F9F;
}
