<section class="container-team">

<section class="container-message">
  <h3>Nuestro Equipo</h3>
</section>

<section class="container-detalle">
  <div class="team">
    <img src="assets/icons/person.svg" alt="" />
    <span class="title">Participante 1</span>
    <span>Business Coordinator</span>
  </div>

  <div class="team">
    <img src="assets/icons/personFemale.svg" alt="" />
    <span class="title">Participante 2</span>
    <span>Manager</span>
  </div>

  <div class="team">
    <img src="assets/icons/person.svg" alt="" />
    <span class="title">Participante 3</span>
    <span>CEO</span>
  </div>
</section>
</section>
