<section class="container-message">
  <h4>Prospera.com Perú</h4>
  <p>Invierte en Propiedades</p>
</section>

<div class="container-about">
  <h4>Nosotros</h4>
  <p>
    Exercitation sit id nulla aute minim aliquip deserunt do cillum ea. Ullamco cupidatat veniam occaecat voluptate do elit aliquip cillum duis consectetur. Do deserunt cupidatat et esse in ut. Sunt proident elit nostrud sint nostrud do occaecat laboris nisi ullamco proident consectetur adipisicing voluptate. Ullamco sunt exercitation velit sunt aliquip eiusmod quis cillum labore reprehenderit irure exercitation. 
  </p>

  <div class="container-detalle">
    <div class="item">
        <img src="assets/icons/goal.svg" alt="" />
        <span>NUESTRA</span>
        <span class="title">MISIÓN</span>
      </div>
      
      <div class="item">
        <img src="assets/icons/trust.svg" alt="" />
        <span>NUESTROS</span>
        <span class="title">VALORES</span>
      </div>

    <div class="item">
      <img src="assets/icons/mission.svg" alt="" />
      <span>NUESTRA</span>
      <span class="title">VISIÓN</span>
    </div>
  </div>
</div>