.container-description {
  background-color: white;
  padding: 5% 0;
}

.container-message {
  width: 80%;
  margin: auto;
  font-weight: 600;

  h4 {
    font-weight: 700;
  }
}

.headerDescripcion {
  width: 100;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 600px) {
    justify-content: space-around;
  }
  @media (max-width: 600px) {
    justify-content: center;
  }

  row-gap: 1em;
  column-gap: 6em;

  .prices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 6em;
    align-items: center;
    justify-content: center;
    row-gap: 0.5em;


    h4 {
      font-weight: 800;
      min-width: 3em;
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4em;
    align-items: center;
    row-gap: 1em;
    justify-content: center;

    &__botones {
      width: 12em;
      height: 3em;
      border-radius: 0.3em;
      background-color: #5f7f9f;
      color: white;
      border-color: #144b81;
      border: 0px;
    }

    &__botones:hover {
      background-color: #2968b5;
      color: white;
    }
  }
}

hr {
  margin-left: 4em;
  margin-right: 4em;
}

.slideraltura {
  @media (min-width: 600px) {
    height: 35rem;
  }
  @media (max-width: 600px) {
    height: 20rem;
  }
}

.descripcion {
  width: 80%;
  margin: auto;
  font-weight: 600;
  margin-top: 2.5em;
  margin-bottom: 9%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2em;

  h4 {
    font-weight: 800;
  }
  .button {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 1em;

    &--modificador {
      width: 9.5em;
      height: 2.5em;
      background-color: white;
      border-color: black;
      border-radius: 1.5em;
      border-width: thin;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 5px;
    }
  }
}
