<section>
  <div class="container-searching">
    <div class="container-buscador">
      <div class="item-buscador">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="proyectos-tab"
              data-bs-toggle="tab"
              data-bs-target="#proyectos"
              type="button"
              role="tab"
              aria-controls="proyectos"
              aria-selected="true"
            >
              Comprar
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="comprar-tab"
              data-bs-toggle="tab"
              data-bs-target="#comprar"
              type="button"
              role="tab"
              aria-controls="comprar"
              aria-selected="false"
            >
              Proyectos
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="proyectos"
            role="tabpanel"
            aria-labelledby="proyectos-tab"
          >
            <span>Ubicación</span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="addon-wrapping"
            />

            <span>Tipo de inmueble</span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <span>Dormitorios</span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <span>Precio</span>
            <label for="customRange2" class="form-label">Example range</label>
            <input
              type="range"
              class="form-range"
              min="0"
              max="5"
              id="customRange2"
            />

            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="addon-wrapping"
            />
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="addon-wrapping"
            />
            <span>Estado del proyecto</span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <input class="btn btn-primary w-100" type="button" value="Input" />
          </div>
          <div
            class="tab-pane fade"
            id="comprar"
            role="tabpanel"
            aria-labelledby="comprar-tab"
          >
            ..ssssss.
          </div>
        </div>
      </div>
    </div>
    <div class="container-carousel">
      <div class="row">
        <div class="item-carousel col-6">
          <div class="tag">
            <span>En construcción</span>
          </div>
          <div
            id="carouselExampleInterval"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/image2.png" class="d-block" alt="..." />
              </div>
              <div class="carousel-item">
                <img src="assets/img/image2.png" class="d-block" alt="..." />
              </div>
              <div class="carousel-item">
                <img src="assets/img/image2.png" class="d-block" alt="..." />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="container-description col-6">
          <p>3 dormitorios, 192 m2</p>
          <p>Residencial Las Retamas</p>
          <button class="btn btn-prospera1"></button>
        </div>
      </div>
    </div>
  </div>
</section>
