<section class="buscador">
  <!--Buscador Panel-->
  <app-searcher class="container-buscador"></app-searcher>
  <!--FIN Buscador Panel-->

  <div class="resultadobusqueda">
    <div class="botonesBuscador">
      <div class="dropdown">
        <button
          class="btn btn-prospera5 dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Relevantes
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-prospera5 botonBuscador"
        data-toggle="modal"
        data-target="#openDialogSearcher"
      >
        Buscar
      </button>
    </div>

    <div class="descripcionBuesquedaResultadoGrupo">
      <div class="descripcionbusqueda">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
        <div class="tag">En construcción</div>
          <div class="carousel-inner tamanoimagen">
            <div class="carousel-item active tamanoimagen">
              <img
                src="assets/img/image1.png"
                class="d-block w-100 tamanoimagen"
                alt="..."
              />
            </div>
            <div class="carousel-item tamanoimagen">
              <img
                src="assets/img/image1.png"
                class="d-block w-100 tamanoimagen"
                alt="..."
              />
            </div>
            <div class="carousel-item tamanoimagen">
              <img
                src="assets/img/image1.png"
                class="d-block w-100 tamanoimagen"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="especificaciones">
          <div class="especificaciones__cabecera">
            <div class="dispersion">
              <span class="etiquetaMonto">Desde</span>
              <span class="monto">S/.2,486</span>
            </div>

            <div class="verticalLine"></div>

            <div class="dispersion2">
              <span class="direccion">Las Retamas N°49</span>
              <span class="direccionespeci"
                >Salamanca de monterrico, Ate - Vitarte</span
              >
            </div>
          </div>

          <div class="especificaciones__cuerpo">
            <div>
              <span class="descripcion">3 dormitorios, 192 m2</span>
            </div>

            <div class="dispersion">
              <span class="ubiDescrip">Residencial Las Retamas</span>
              <span class="ubiDescripEspe"
                >5 ultimos departamentos a punto de estrenarse, entrega marzo
                2021</span
              >
            </div>
          </div>

          <div class="especificaciones__pie">
            <button class="botonContactar">Contactar</button>
          </div>
        </div>
      </div>

      <div class="descripcionbusqueda">
        <div
          id="carouselExampleControls2"
          class="carousel slide"
          data-bs-ride="carousel"
        >
        <div class="tag">En construcción</div>
          <div class="carousel-inner tamanoimagen">
            <div class="carousel-item active tamanoimagen">
              <img
                src="assets/img/image1.png"
                class="d-block w-100 tamanoimagen"
                alt="..."
              />
            </div>
            <div class="carousel-item tamanoimagen">
              <img
                src="assets/img/image1.png"
                class="d-block w-100 tamanoimagen"
                alt="..."
              />
            </div>
            <div class="carousel-item tamanoimagen">
              <img
                src="assets/img/image1.png"
                class="d-block w-100 tamanoimagen"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls2"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls2"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="especificaciones">
          <div class="especificaciones__cabecera">
            <div class="dispersion">
              <span class="etiquetaMonto">Desde</span>
              <span class="monto">S/.2,486</span>
            </div>

            <div class="verticalLine"></div>

            <div class="dispersion2">
              <span class="direccion">Las Retamas N°49</span>
              <span class="direccionespeci"
                >Salamanca de monterrico, Ate - Vitarte</span
              >
            </div>
          </div>

          <div class="especificaciones__cuerpo">
            <div>
              <span class="descripcion">3 dormitorios, 192 m2</span>
            </div>

            <div class="dispersion">
              <span class="ubiDescrip">Residencial Las Retamas</span>
              <span class="ubiDescripEspe"
                >5 ultimos departamentos a punto de estrenarse, entrega marzo
                2021</span
              >
            </div>
          </div>

          <div class="especificaciones__pie">
            <button class="botonContactar">Contactar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-dialog2">
  <div class="modal fade" id="openDialogSearcher" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <label for=""></label>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-searcher></app-searcher>
        </div>
      </div>
    </div>
  </div>

</div>
