/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century-gothic, sans-serif;
  }

:root {
    --main-fontColor: #2C5781;
    --second-fontColor: #4CA188;

}

body {
  background: linear-gradient(
    90deg
    , #e5fbff 0%, rgb(161 202 191) 56%, rgb(113 192 197) 100%);
  }

  .btn-prospera1 {
    background-color: #5F7F9F;
    color: white;
    border-radius: 0px 20px 20px 0px;
    width: 150px;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btn-prospera4 {
  background-color: #36577E;
  color: white;
  border-radius: 15px;
  font-weight: 600;
  padding: 10px 20%;
  box-shadow: 0px 4px 4px 0px #00000040;
}


.btn-prospera3 {
  background-color: #36577E;
  color: white;
  border-radius: 20px;
  font-weight: 600;
  width: fit-content;
  padding: 10px 4%;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-top: 20px;
}

.btn-prospera4:hover, .btn-prospera3:hover {
  background-color: #2968b5;
  color: white;
}


@media (min-width: 576px) {

  .modal-dialog {
    max-width: 1500px !important;
    margin: 1.75rem auto;
}
}
